pidfile prova.pid
statefile prova.state
xdcclistfile prova.xdcc
user_nick prova

user_realname ornitorinco
nickserv_pass imbecille
server irc.chlame.net 6667
channel #Ornitorinco
reconnect_delay 60
user_modes +iB

ftphost host.altervista.org
ftpuser host
ftpport 21
ftppswd password
ftpxdccdir xdcc/

filedir /home/debby/.0/western
uploaddir /home/debby/.0/western
autoadd_dir /home/debby/.0/western
autoadd_time 30
autoadd_delay 30

adminhost puccio!*@*.*
uploadhost puccio!*@*.*
downloadhost *!*@*
autoignore_exclude puccio!*@*.*
adminpass $1$10$DTEHn0S/tTECz2WJtcDnb/


group_seperator " - "
send_listfile -1
http_vhost ::
http_vhost 0.0.0.0


slotsmax 5
queuesize 20
maxtransfersperperson 1
ignore_duplicate_ip 1
maxqueueditemsperperson 1
balanced_queue
requeue_sends
send_batch
noduplicatefiles
include_subdirs
removelostfiles
announce_seperator " - "

restrictlist
restrictprivlist
restrictprivlistmsg Scrivi !list nel canale
restrictsend
transfermaxspeed 50
transferminspeed 10
ignoreuploadbandwidth
extend_status_line
no_status_chat
no_status_log
show_date_added
uploadminspace 1000
max_uploads 20
hideos
nomd5sum
nocrc32
